/* 11-loop_photos.scss
   Create a photo class for each name using @each and @use.
*/

@use "11-photos" as photos;

@each $name in photos.$list-names {
  .photo-#{$name} {
    background: image-url("photos/#{$name}.jpg") no-repeat;
  }
}
