/* 9-extend_list.scss
   Use @extend so that .success and .warning share the font-size of .info
*/

.info {
  font-size: 12px;
}

.success {
  @extend .info;
  color: #00FF00;
}

.warning {
  @extend .info;
  color: #FF0000;
}
